
@{
    ViewData["Title"] = "Index";
}
<div class="top-single-bkg topsinglepage">
	<div class="topsingleimg"> <img src="images/pages/img-about12.jpg" alt="" width="1920" height="1080"></div>
	<div class="inner-desc">
		<div class="container" style="margin-top:300px">
			<h1 class="display-2 single-post-title">Hakkımızda</h1>
			<span class="post-subtitle"> EN ÖZEL GÜNÜNÜZÜ HAYALİNİZDEKİ ORGANİZASYON VE PROFOSYONEL EKİBİMİZ İLE SÜSLÜYORUZ.</span>
		</div>
		<div class="btn-header btn-header-5" style="text-align:center; margin-top:400px ">
			<a href="https://wa.me/905446514924" class="read-more">

				İletişime Geçin
			</a>
		</div>
	</div>
</div>


<div id="wrap-content" class="page-content page-holder custom-page-template page-full fullscreen-page clearfix">
	<!-- SECTION 1 -->
	<div id="aboutus-2-1" class="section-holder aboutus-2-1">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 order2">
					<div class="el-smalltitle">GREEN GARDEN</div>
					<h2 class="display-4 margin-b30">
						Hoş Geldiniz!, <br />
						GREEN GARDEN.
					</h2>
					<p>
						Sevgi ve mutluluğun buluşma noktası olan Green Garden, sizlere unutulmaz anlar yaşatmak için tasarlanmıştır. Kahramanmaraş'ın kalbinde, şık ve zarif bir ortamda bulunan salonumuz, en özel günlerinizi muhteşem bir şekilde kutlamanız için ideal bir mekandır.

						Misafirlerimize sıcak bir karşılama sunarak, onların özel günlerinde yanlarında olmaktan büyük mutluluk duyuyoruz. Ekibimiz, her ayrıntıyı titizlikle planlayarak, sizin ve sevdiklerinizin rüya gibi bir düğün yaşamasını sağlamak için çalışıyor.

						Green Garden'da her zevke ve bütçeye uygun düğün paketleri sunuyoruz. Profesyonel organizasyon ekibimiz, sizin isteklerinizi dinleyerek ve tecrübelerini kullanarak, hayalinizdeki düğünü gerçeğe dönüştürmek için çaba sarf ediyor.

						Modern altyapımız ve şık dekorasyonumuzla, her detayı özenle düşündük ve en iyi hizmeti sunmak için çalışıyoruz. Ayrıca, lezzetli yemek seçeneklerimiz ve özenle seçilmiş içecek menümüzle damak zevkinizi de memnun ediyoruz.

					</p>
					<p>Bizimle unutulmaz anlarınızı yaşamak için iletişime geçmekten çekinmeyin. Green Garden, hayallerinizi gerçeğe dönüştürmek için burada!</p>
				</div>
				<!-- /col-lg-6 -->
				<div class="col-lg-6 order1 margin-bm50">
					<div class="margin-l50">
						<img class="img-fluid radius10" src="/images/team/slider_1.jpg" alt=" " >
					</div>
				</div>
				<!-- /col-lg-6 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION 1 -->
	<!-- SECTION 2 -->
	<!-- /col-lg-6 -->

	@* <div class="col-6 col-lg-3 tablet-margin-b30 alignc">
	<h2 class="display-2 margin-b15">0</h2>
	<div class="margin-b15">Ödüller</div> *@



	<div id="aboutus-2-2" class="section-holder aboutus-2-2" >
		<div class="container section-info radius10 padding-50"  >
			<div style="display:flex; text-align:center; margin-left:350px">
				<div class="row">
					<div class="col-6 col-lg-3 tablet-margin-b30 alignc">
						<h2 class="display-2 margin-b15">20</h2>
						<div class="margin-b15">Takım Arkadaşlarımız</div>
					</div>

				</div>
				<!-- /col-lg-6 -->
				<div class="col-6 col-lg-3 alignc">
					<h2 class="display-2 margin-b15">274</h2>
					<div class="margin-b15">Düğünler</div>
				</div>
				<!-- /col-lg-6 -->
				<div class="col-6 col-lg-3 alignc">
					<h2 class="display-2 margin-b15">7</h2>
					<div class="margin-b15">Hizmet Yılımız</div>
				</div>
				<!-- /col-lg-6 -->
			</div>
			<!-- /row -->
		</div>
			</div>
		<!-- /container -->
	</div>
	<!-- /SECTION 2 -->
	<!-- SECTION 3 -->
	<!-- /SECTION 3 -->
	<!-- SECTION 4 -->
	<!-- /SECTION 4 -->
	<!-- SECTION 5 -->

	<!-- /SECTION 5 -->
</div>
