
@{
    ViewData["Title"] = "Index";
}
<div class="top-single-bkg topsinglepage">
	<div class="topsingleimg"> <img src="images/pages/img-about12.jpg" alt="" width="1920" height="1080"></div>
	<div class="inner-desc">
		<div class="container">
			<h1 class="display-2 single-post-title">Hakkımızda</h1>
			<span class="post-subtitle"> EN ÖZEL GÜNÜNÜZÜ HAYALİNİZDEKİ ORGANİZASYON VE PROFOSYONEL EKİBİMİZ İLE SÜSLÜYORUZ.</span>
		</div>
	</div>
</div>
<div id="wrap-content" class="page-content page-holder custom-page-template page-full fullscreen-page clearfix">
	<!-- SECTION 1 -->
	<div id="aboutus-2-1" class="section-holder aboutus-2-1">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 order2">
					<div class="el-smalltitle">GREEN GARDEN</div>
					<h2 class="display-4 margin-b30">
						Hoş Geldiniz!, <br />
						GREEN GARDEN.
					</h2>
					<p>Efsanevi aşk hikayenizin başladığı yerde, GREEN GARDEN olarak hayalinizdeki düğünü gerçekleştirmek için buradayız.</p>
					<p>Sizi ve sevdiklerinizi ağırlamaktan büyük bir mutluluk duyuyoruz.</p>
				</div>
				<!-- /col-lg-6 -->
				<div class="col-lg-6 order1 margin-bm50">
					<div class="margin-l50">
						<img class="img-fluid radius10" src="/images/team/slider_1.jpg" alt=" " >
					</div>
				</div>
				<!-- /col-lg-6 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION 1 -->
	<!-- SECTION 2 -->
	<div id="aboutus-2-2" class="section-holder aboutus-2-2">
		<div class="container section-info radius10 padding-50">
			<div class="row">
				<div class="col-6 col-lg-3 tablet-margin-b30 alignc">
					<h2 class="display-2 margin-b15">20</h2>
					<div class="margin-b15">Takım Arkadaşlarımız</div>
				</div>
				<!-- /col-lg-6 -->
				<div class="col-6 col-lg-3 tablet-margin-b30 alignc">
					<h2 class="display-2 margin-b15">0</h2>
					<div class="margin-b15">Ödüller</div>
				</div>
				<!-- /col-lg-6 -->
				<div class="col-6 col-lg-3 alignc">
					<h2 class="display-2 margin-b15">274</h2>
					<div class="margin-b15">Düğünler</div>
				</div>
				<!-- /col-lg-6 -->
				<div class="col-6 col-lg-3 alignc">
					<h2 class="display-2 margin-b15">7</h2>
					<div class="margin-b15">Hizmet Yılımız</div>
				</div>
				<!-- /col-lg-6 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION 2 -->
	<!-- SECTION 3 -->
	<!-- /SECTION 3 -->
	<!-- SECTION 4 -->
	<!-- /SECTION 4 -->
	<!-- SECTION 5 -->

	<!-- /SECTION 5 -->
</div>
